
<app-panel-colored [color]="color">
    <app-standard-size [size]="size">
        <div class="container_gallery-modal-img">
            <div class="gallery-modal-img-c">
                <div class="header">
                    <p class="name">Artwork details</p>
                    <button class="close" (click)="handler_close(image)">
                        <div class="img"></div>
                    </button>
                </div>
                <div class="details">
                    <div class="little-gallery">
                        <h3 class="title">{{image.title}}</h3>
                        <app-img-little-gallery [image]="image"></app-img-little-gallery>
                    </div>
                    <ng-container *ngIf="image.lines.length > 1 then lines else line"></ng-container>
                </div>
                <div class="footer">
                    <label for="limit-modals"  class="option">Have just one opened</label>
                    <input id="limit-modals" class="option-check" type="checkbox" [checked]="isLimitedToOneModal" (change)="handler_toggle(image)">
                </div>
            </div>
        </div>
    </app-standard-size>
</app-panel-colored>




<ng-template #lines>
    <div class="description">
        <p *ngFor="let line of image.lines">{{line}}</p>
    </div>
</ng-template>
<ng-template #line>
    <p class="description">{{image.lines[0]}}</p>
</ng-template>