<mat-card>
      
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{spelledOut}}</mat-card-title>
        <mat-card-subtitle>Berón Gamboa Gavilanes</mat-card-subtitle>
    </mat-card-header>

    <mat-divider />

    <mat-card-content *ngIf="showContent">
        <p [style]="{textAlign:'justify'}">{{ text }}</p>
        <mat-card-subtitle>Technology stack</mat-card-subtitle>

        <mat-chip-set aria-label="technology stack" class="space-around_children">
            <mat-chip selected defaultColor="accent" *ngFor="let tech of technologies">
            {{tech}}
            </mat-chip>
        </mat-chip-set>
        
    </mat-card-content>
    

</mat-card>