
    <div class="frame">
    </div>
    <div class="options">
        <button class="option" >
            <div class="img" [style.backgroundImage]="'url(assets/history.svg)'"></div>
        </button>
        <button class="option" >
            <div class="img" [style.backgroundImage]="'url(assets/gallery.svg)'"></div>
        </button>
        <button class="option" >
            <div class="img" [style.backgroundImage]="'url(assets/fullscreen.svg)'"></div>
        </button>
    </div>
    <div class="img" [style.background-image]="'url(' + image.path + ')'"></div>
