<div [style]="{height:'10vh'}" (click)="closeModal()"></div>

<mat-card>

  <portfolio-modal-header [spellText]="spellText" [loadedHandler]="loadedHandler" [closeModal]="closeModal"/>

  <mat-stepper [linear]="false" [orientation]="(stepperOrientation | async)!" *ngIf="showProjects">
    <mat-step  *ngFor="let project of projects" [label]="project.title">

      <mat-card-content>
          <mat-card-subtitle>Overview</mat-card-subtitle>
          <p>{{project.desc}}</p>

          <mat-divider />
          <mat-card-subtitle>Screenshot</mat-card-subtitle>
          
          <portfolio-modal-img [img]="project.img" [title]="project.title" />
          
          <mat-divider />

          <mat-card-subtitle>Rol</mat-card-subtitle>
          <p>{{project.role}}</p>
      </mat-card-content>


      <mat-chip-listbox aria-label="technology stack" class="space-around_children" [style]="{margin: '10px auto'}">
        <mat-chip color="accent" *ngFor="let tech of project.techStack">
        {{tech}}
        </mat-chip>
      </mat-chip-listbox>

      <mat-divider />

      <mat-card-footer>
          <a mat-button [href]="project.repo" target="_blank">Github</a>
          <a mat-button *ngIf="project.live" [href]="project.live" target="_blank">Live</a>
      </mat-card-footer>
    </mat-step>
  </mat-stepper>
</mat-card>


<div [style]="{height:'10vh'}" (click)="closeModal()"></div>