






<ng-container #first *ngFor="let image of imagesGroup.first">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-image [image]="getImageWithClickHandler(images.awareness.changeSize('a0'), 'first')"></app-gallery-image>



<ng-container #second *ngFor="let image of imagesGroup.second">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.portrait.changeSize('a4'), 'second')]" [imagesDown]="[getImageWithClickHandler(images.ivelina.changeSize('a4'), 'second')]"></app-gallery-column>



<ng-container #third *ngFor="let image of imagesGroup.third">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesDown]="[getImageWithClickHandler(images.demon.changeSize('a4'), 'third'), images.bull.changeSize('a4')]" [imagesUp]="[getImageWithClickHandler(images.liondragon.changeSize('a1'), 'third')]"></app-gallery-column>



<ng-container #fourth *ngFor="let image of imagesGroup.fourth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.camera.changeSize('a4'), 'fourth')]" [imagesDown]="[getImageWithClickHandler(images.panther.changeSize('a4'), 'fourth')]"></app-gallery-column>



<ng-container #fifth *ngFor="let image of imagesGroup.fifth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.luciana.changeSize('a4'), 'fifth')]" [imagesDown]="[getImageWithClickHandler(images.snake.changeSize('a4'), 'fifth')]"></app-gallery-column>


<app-gallery-article  size="a0" orientation="horizontal" padding="md" color="secondary" title="Intro" [lines]='["Bien aventurado sea por detenerme a observarme, en el infinito que todo y nada existe, vamos a superar nuestro yo para participar del nosotros, y agradeciendo a la división podremos señalar nuestra composición, permitiendo la existencia de variedades."]'></app-gallery-article>



<ng-container #sixth *ngFor="let image of imagesGroup.sixth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>    
<app-gallery-image [image]="getImageWithClickHandler(images.lovers.changeSize('a0'), 'sixth')"></app-gallery-image>



<ng-container #seventh *ngFor="let image of imagesGroup.seventh">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.goat.changeSize('a5'), 'seventh')]" [imagesDown]="[getImageWithClickHandler(images.lion.changeSize('a5'), 'seventh')]"></app-gallery-column>

<app-gallery-column-img-template first [screenChangeDirection]="false"  size="a4" color="dark" orientation="horizontal" title="play with the colors!">
    <div top>
        <label for="hue-rotate"><p>hue-rotate :</p></label><input type="range" name="hue-rotate" id="hue-rotate" min="0" max="360" (input)="changeHueRotate($event)">
    </div>
    <div bottom>
        <label for="color-invert"><p>color-invert :</p></label><input type="range" name="color-invert" id="color-invert" min="0" max="1" step="0.1" (input)="changeColorInvert($event)">
    </div>
</app-gallery-column-img-template>



<ng-container #eighth *ngFor="let image of imagesGroup.eighth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.jellyfish.changeSize('a4'), 'eighth')]" [imagesDown]="[getImageWithClickHandler(images.pirates.changeSize('a4'), 'eighth')]"></app-gallery-column>



<ng-container #nineth *ngFor="let image of imagesGroup.nineth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>   
<app-gallery-column-card-img [images]="[getImageWithClickHandler(images.hodgepodge.changeSize('a0'), 'nineth')]" [image]="images.biography" [size]="images.hodgepodge.size" color="primary" [orientation]="images.hodgepodge.orientation" [lines]="['name: Berón Gamboa Gavilanes', 'birth: June 01, 1998 - Quito, Ecuador']" ></app-gallery-column-card-img>



<ng-container #tenth *ngFor="let image of imagesGroup.tenth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.christian.changeSize('a3'), 'tenth')]" [imagesDown]="[getImageWithClickHandler(images.osho.changeSize('a3'), 'tenth')]"></app-gallery-column>


<app-gallery-article  size="a0" orientation="horizontal" padding="md" color="light" title="Reflexión" [lines]="['Puede convivir el miedo y la adoración...',
'Miedo a los insectos, los animales, la “mala hierba”..., pero respeto hacia su vida... buscar su bienestar...',
'No se los ha visto en otros planetas, trabajan por el ecosistema..., y son tristemente masacrados sin piedad, por seres “inteligentes”...']"></app-gallery-article>



<ng-container #eleventh *ngFor="let image of imagesGroup.eleventh">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-image [image]="getImageWithClickHandler(images.mage.changeSize('a0'), 'eleventh')"></app-gallery-image>



<ng-container #twelfth *ngFor="let image of imagesGroup.twelfth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-image [image]="getImageWithClickHandler(images.role.changeSize('a0'), 'twelfth')"></app-gallery-image>



<ng-container #thirteenth *ngFor="let image of imagesGroup.thirteenth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.pact.changeSize('a1'), 'thirteenth')]" [imagesDown]="[getImageWithClickHandler(images.deity.changeSize('a1'), 'thirteenth')]" ></app-gallery-column>



<ng-container #fourteenth *ngFor="let image of imagesGroup.fourteenth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-column [imagesUp]="[getImageWithClickHandler(images.condor.changeSize('a4'), 'fourteenth')]" [imagesDown]="[getImageWithClickHandler(images.turkey.changeSize('a4'), 'fourteenth')]"></app-gallery-column>





<ng-container #fifteenth *ngFor="let image of imagesGroup.fifteenth">

<app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
</ng-container>
<app-gallery-image [image]="getImageWithClickHandler(images.raulitos.changeSize('a0'), 'fifteenth')"></app-gallery-image>

<div>
    <app-panel-colored color="dark">
        <app-standard-size size="a4">
            <app-column-or-row>
                <iframe first  src="https://www.youtube.com/embed/2RaoCBNHmfw?si=sakvHTiyz_cOhVE7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe second  src="https://www.youtube.com/embed/FU_yNE2MMOU?si=sdrStD9AGqJPz2Qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </app-column-or-row>
        </app-standard-size>
    </app-panel-colored>
</div>





<ng-container #sixteenth *ngFor="let image of imagesGroup.sixteenth">

    <app-gallery-modal-img [image]="image" size="a0" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
            
    </ng-container>
<app-gallery-image [image]="getImageWithClickHandler(images.jungle.changeSize('a1'), 'sixteenth')"></app-gallery-image>

<app-gallery-article  size="a0" orientation="horizontal"padding="md" color="success" title="Vision" [lines]='["I like to think in small details like tiny little beings full of live, civilizations which are hard to see in comparison to our own size, like watching with a microscope to reveal the microcosms!",
"I want to get better with the small and big shapes in my drawings!"]'></app-gallery-article>



