:host {
    display: block;
}
:host.sm {
    padding: calc(4vmax / 1.5);
}
:host.md {
    padding: calc(8vmax / 1.5);
}

@media screen and (max-width:2200px) {
    :host.sm {
        padding: calc(2vmax / 1.5);
    }
    :host.md {
        padding: calc(4vmax / 1.5);
    }
}


@media screen and (max-width:940px) {
    :host.sm {
        padding: calc(1.2vmax / 1.5);
    }
    :host.md {
        padding: calc(2.6vmax / 1.5);
    }
    h1 {
        margin-top: 0;
    }
    p {
        margin: 0;
    }
}
