
<app-panel-colored [color]="color">
    <app-standard-size [size]="size">
        <div class="container_gallery-modal-img">
            <div class="height-size"></div>
            <div class="gallery-modal-img-c">
                <div class="header">
                    <p class="name">Artwork details</p>
                    <button class="close" [class.is-manual]="isManual" (click)="handler_close(image)">
                        <div class="img"></div>
                    </button>
                </div>
                <div class="details" [class.is-manual]="isManual" [class.no-title]="!image.title">
                    <div class="little-gallery">
                        <h3 class="title">{{image.title}}</h3>
                        <div class="img-little-gallery">
                            <app-img-little-gallery [image]="image" [isManual]="isManual"></app-img-little-gallery>
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="title">{{image.title}}</h3>
                        <ng-container *ngIf="image.lines.length > 1 then lines else line"></ng-container>
                    </div>
                </div>
                <div class="footer">
                    <label for="limit-modals"  class="option">Have just one opened</label>
                    <input id="limit-modals" class="option-check" [class.is-manual]="isManual" type="checkbox" [checked]="isLimitedToOneModal" (change)="handler_toggle(image)">
                </div>
            </div>
        </div>
    </app-standard-size>
</app-panel-colored>




<ng-template #lines>
    <p *ngFor="let line of image.lines">{{line}}</p>
</ng-template>
<ng-template #line>
    <p >{{image.lines[0]? image.lines : 'There isn\' a description yet.'}}</p>
</ng-template>