<div [style]="{height:'10vh'}" (click)="closeModal()"></div>

<mat-card >
    
    <portfolio-modal-header [spellText]="spellText" [loadedHandler]="loadedHandler" [closeModal]="closeModal"/>

    <mat-card-content *ngIf="showContent">
        <p [style]="{textAlign:'justify'}">
            I found great stories and values in anime and manga.
            I like to meditate to get the best solution.
            My desire is to grow a lot as a community!.
        </p>

        <p [style]="{textAlign:'justify'}">
            I sometimes win in chess, jenga, climbing trees... x'D, on the other hand I usually can't win in ping pong, table football, bowling... x'dd.
        </p>

        <p [style]="{textAlign:'justify'}">
            Recently my brothers came to the table with card games like: "l'arna tramposa", "virus", "mind" and "exploding kittens"
        </p>

        <mat-chip-set aria-label="other hobbies tags" class="space-around_children">
            <mat-chip selected defaultColor="accent" *ngFor="let hobby of hobbies">
            {{hobby}}
            </mat-chip>
        </mat-chip-set>

    </mat-card-content>

</mat-card>

<div [style]="{height:'10vh'}" (click)="closeModal()"></div>