




    <ng-container #first *ngFor="let image of imagesGroup.first">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.portrait, 'first')]" [imagesDown]="[getImageWithClickHandler(images.ivelina, 'first')]"></app-gallery-column>


    
    <ng-container #second *ngFor="let image of imagesGroup.second">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-image [image]="getImageWithClickHandler(images.awareness, 'second')"></app-gallery-image>


    

    <app-gallery-article sizeTablet="a0"  size="a1" padding="md" color="secondary" title="Intro" [lines]='["Bien aventurado sea por detenerme a observarme, en el infinito que todo y nada existe, vamos a superar nuestro yo para participar del nosotros y agradeciendo a la división podremos señalar nuestra composición, permitiendo la existencia de variedades."]'></app-gallery-article>



    

    <ng-container #third *ngFor="let image of imagesGroup.third">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.raulitos.changeSize('a5'), 'third')]" [imagesDown]="[getImageWithClickHandler(images.pirates.changeSize('a4'), 'third')]"></app-gallery-column>
    

    

    <ng-container #fourth *ngFor="let image of imagesGroup.fourth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column-card-img [images]="[getImageWithClickHandler(images.hodgepodge, 'fourth')]" [image]="images.biography" [sizeTablet]="images.hodgepodge.sizeTablet" [size]="images.hodgepodge.size" color="primary" [orientation]="images.hodgepodge.orientation" title="Biography" [lines]="['name: Berón Gamboa Gavilanes', 'birth: June 01, 1998 - Quito, Ecuador']" ></app-gallery-column-card-img>
    


    
    <ng-container #fifth *ngFor="let image of imagesGroup.fifth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.panther, 'fifth')]" [imagesDown]="[getImageWithClickHandler(images.christian, 'fifth')]"></app-gallery-column>


    

    <ng-container #sixth *ngFor="let image of imagesGroup.sixth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>    
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.jungle.changeSize('a4'), 'sixth')]" [imagesDown]="[getImageWithClickHandler(images.liondragon.changeSize('a4'), 'sixth')]"></app-gallery-column>
    



    <ng-container #seventh *ngFor="let image of imagesGroup.seventh">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column-img-template [image]="getImageWithClickHandler(images.lion, 'seventh')" sizeTablet="a1" size="a5" color="dark" [orientation]="images.lion.orientation"  title="music!">
        <iframe top  src="https://www.youtube.com/embed/2RaoCBNHmfw?si=sakvHTiyz_cOhVE7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe bottom  src="https://www.youtube.com/embed/FU_yNE2MMOU?si=sdrStD9AGqJPz2Qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </app-gallery-column-img-template>
    

    
 
    <ng-container #eighth *ngFor="let image of imagesGroup.eighth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.turkey, 'eighth'), getImageWithClickHandler(images.luciana, 'eighth')]" [imagesDown]="[getImageWithClickHandler(images.lovers.changeSize('a3'), 'eighth')]"></app-gallery-column>
    

    

    <ng-container #nineth *ngFor="let image of imagesGroup.nineth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>   
    <app-gallery-column-img-template [screenChangeDirection]="false" [image]="getImageWithClickHandler(images.deity.changeSize('a5'), 'nineth')" [sizeTablet]="images.deity.sizeTablet" [size]="images.deity.size" color="dark" [orientation]="images.deity.orientation" title="play with the colors!">
    <div top>
        <label for="hue-rotate"><p>hue-rotate :</p></label><input type="range" name="hue-rotate" id="hue-rotate" min="0" max="360">
    </div>
    <div bottom>
        <label for="color-invert"><p>color-invert :</p></label><input type="range" name="color-invert" id="color-invert" min="0" max="1" step="0.1">
    </div>
    </app-gallery-column-img-template>
    

    

    <ng-container #tenth *ngFor="let image of imagesGroup.tenth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-image [image]="getImageWithClickHandler(images.role, 'tenth')"></app-gallery-image>


    

    <ng-container #eleventh *ngFor="let image of imagesGroup.eleventh">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.jellyfish, 'eleventh')]" [imagesDown]="[getImageWithClickHandler(images.snake, 'eleventh')]"></app-gallery-column>


    

    <ng-container #twelfth *ngFor="let image of imagesGroup.twelfth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-image [image]="getImageWithClickHandler(images.mage, 'twelfth')"></app-gallery-image>


    

    <ng-container #thirteenth *ngFor="let image of imagesGroup.thirteenth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.bull, 'thirteenth')]" [imagesDown]="[getImageWithClickHandler(images.osho, 'thirteenth')]"></app-gallery-column>
    

    

    <app-gallery-article sizeTablet="a0"  size="a1" padding="md" color="success" title="Vision" [lines]='["I like to think in small details like tiny little beings full of live, civilizations which are hard to see in comparison to our own physical size, interest for what is beneath",
    "I want to get better with small and big shapes"]'></app-gallery-article>
    

    

    <ng-container #fourteenth *ngFor="let image of imagesGroup.fourteenth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.demon, 'fourteenth')]" [imagesDown]="[getImageWithClickHandler(images.goat.changeSize('a6'), 'fourteenth')]"></app-gallery-column>
    



    <app-gallery-article sizeTablet="a0"  size="a1" padding="md" color="light" title="Reflexión" [lines]="['Puede convivir el miedo y la adoración',
    'Temer a insectos, animales, plantas ..., pero respetar su vida ... buscar su bienestar ...',
    'No se los ha visto en otros planetas, trabajan por el ecosistema ..., y son tristemente masacrados sin piedad, por seres “inteligentes”']"></app-gallery-article>
    

    
    
    
    <ng-container #fifteenth *ngFor="let image of imagesGroup.fifteenth">

        <app-gallery-modal-img [image]="image" size="a1" [isLimitedToOneModal]="isLimitedToOneModal" [handler_toggle]="handler_toggleModalNumberLimitation"></app-gallery-modal-img>
        
    </ng-container>
    <app-gallery-column [imagesUp]="[getImageWithClickHandler(images.pact.changeSize('a1').changeSizeTablet('a1'), 'fifteenth')]" [imagesDown]="[getImageWithClickHandler(images.camera, 'fifteenth'), getImageWithClickHandler(images.condor, 'fifteenth')]" ></app-gallery-column>
    
    

