<app-gallery-column [imagesUp]="[images.portrait]" [imagesDown]="[images.ivelina]"></app-gallery-column>

    <app-gallery-image [image]="images.awareness"></app-gallery-image>
    
    <app-gallery-column [imagesUp]="[images.bull]" [imagesDown]="[images.osho]"></app-gallery-column>
    
    <app-gallery-article sizeTablet="a1"  size="a3" orientation="horizontal" padding="md" color="secondary" title="Intro" [lines]='["Bien aventurado sea por detenerme a observarme, en el infinito que todo y nada existe, vamos a superar nuestro yo para participar del nosotros, y agradeciendo a la división podremos señalar nuestra composición, permitiendo la existencia de variedades."]'></app-gallery-article>
    
    <app-gallery-column [imagesDown]="[images.raulitos.changeSizeTablet('a1')]" [imagesUp]="[images.liondragon.changeSizeTablet('a1')]"></app-gallery-column>
    
    <app-gallery-column [imagesUp]="[images.pirates.changeSizeTablet('a4')]" [imagesDown]="[images.christian.changeSizeTablet('a3')]"></app-gallery-column>
    
    <app-gallery-column-card-img [images]="[images.hodgepodge]" [image]="images.biography" [sizeTablet]="images.hodgepodge.sizeTablet" [size]="images.hodgepodge.size" color="primary" [orientation]="images.hodgepodge.orientation" title="Biography" [lines]="['name: Berón Gamboa Gavilanes', 'birth: June 01, 1998 - Quito, Ecuador']" ></app-gallery-column-card-img>
   
    <app-gallery-image [image]="images.role"></app-gallery-image>
    
    <app-gallery-column [imagesUp]="[images.turkey, images.luciana]" [imagesDown]="[images.snake, images.panther]"></app-gallery-column>
    
    <app-gallery-image [image]="images.lovers.changeSizeTablet('a0')"></app-gallery-image>
    
    <app-gallery-column-img-template [image]="images.jungle.changeSizeTablet('a3')" sizeTablet="a3" size="a5" color="dark" [orientation]="images.jungle.orientation"  title="music!">
        <app-column-or-row top [isColumn]="false">
            <iframe first  src="https://www.youtube.com/embed/2RaoCBNHmfw?si=sakvHTiyz_cOhVE7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe second  src="https://www.youtube.com/embed/FU_yNE2MMOU?si=sdrStD9AGqJPz2Qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </app-column-or-row>
    </app-gallery-column-img-template>

    <app-gallery-column-img-template top [screenChangeDirection]="false" [image]="images.deity.changeSize('a5')" [sizeTablet]="images.deity.sizeTablet" [size]="images.deity.size" color="dark" [orientation]="images.deity.orientation" title="play with the colors!">
        <div top>
            <label for="hue-rotate"><p>hue-rotate :</p></label><input type="range" name="hue-rotate" id="hue-rotate" min="0" max="360">
        </div>
        <div bottom>
            <label for="color-invert"><p>color-invert :</p></label><input type="range" name="color-invert" id="color-invert" min="0" max="1" step="0.1">
        </div>
    </app-gallery-column-img-template>
    
    <app-gallery-article sizeTablet="a1"  size="a3" orientation="horizontal"padding="md" color="success" title="Vision" [lines]='["I like to think in small details like tiny little beings full of live, civilizations which are hard to see in comparison to our own size, like watching with a microscope to reveal the microcosms!",
    "I want to get better with the small and big shapes in my drawings!"]'></app-gallery-article>

    <app-gallery-column [imagesUp]="[images.jellyfish]" [imagesDown]="[images.demon.changeSizeTablet('a4')]"></app-gallery-column>
    <app-gallery-image [image]="images.mage"></app-gallery-image>
    <app-gallery-column [imagesUp]="[images.lion.changeSizeOrientation('horizontal').changeSizeTablet('a4')]" [imagesDown]="[images.goat]"></app-gallery-column>

    <app-gallery-article sizeTablet="a1"  size="a3" orientation="horizontal" padding="md" color="light" title="Reflexión" [lines]="['Puede convivir el miedo y la adoración...',
    'Miedo a los insectos, los animales, la “mala hierba”..., pero respeto hacia su vida... buscar su bienestar...',
    'No se los ha visto en otros planetas, trabajan por el ecosistema..., y son tristemente masacrados sin piedad, por seres “inteligentes”...']"></app-gallery-article>
    <app-gallery-column [imagesUp]="[images.pact.changeSize('a1').changeSizeTablet('a1')]" [imagesDown]="[images.camera, images.condor]" ></app-gallery-column>
    
