




<app-gallery-image [image]="images.awareness.changeSize('a0')"></app-gallery-image>

<app-gallery-column [imagesUp]="[images.portrait.changeSize('a4')]" [imagesDown]="[images.ivelina.changeSize('a4')]"></app-gallery-column>

<app-gallery-column [imagesDown]="[images.demon.changeSize('a4'), images.bull.changeSize('a4')]" [imagesUp]="[images.liondragon.changeSize('a1')]"></app-gallery-column>

<app-gallery-column [imagesUp]="[images.camera.changeSize('a4')]" [imagesDown]="[images.panther.changeSize('a4')]"></app-gallery-column>

<app-gallery-column [imagesUp]="[images.luciana.changeSize('a4')]" [imagesDown]="[images.snake.changeSize('a4')]"></app-gallery-column>

<app-gallery-article  size="a0" orientation="horizontal" padding="md" color="secondary" title="Intro" [lines]='["Bien aventurado sea por detenerme a observarme, en el infinito que todo y nada existe, vamos a superar nuestro yo para participar del nosotros, y agradeciendo a la división podremos señalar nuestra composición, permitiendo la existencia de variedades."]'></app-gallery-article>

<app-gallery-image [image]="images.lovers.changeSize('a0')"></app-gallery-image>

<app-gallery-column [imagesUp]="[images.goat.changeSize('a5')]" [imagesDown]="[images.lion.changeSize('a5')]"></app-gallery-column>

<app-gallery-column-img-template first [screenChangeDirection]="false"  size="a4" color="dark" orientation="horizontal" title="play with the colors!">
    <div top>
        <label for="hue-rotate"><p>hue-rotate :</p></label><input type="range" name="hue-rotate" id="hue-rotate" min="0" max="360">
    </div>
    <div bottom>
        <label for="color-invert"><p>color-invert :</p></label><input type="range" name="color-invert" id="color-invert" min="0" max="1" step="0.1">
    </div>
</app-gallery-column-img-template>

<app-gallery-column [imagesUp]="[images.jellyfish.changeSize('a4')]" [imagesDown]="[images.pirates.changeSize('a4')]"></app-gallery-column>

<app-gallery-column-card-img [images]="[images.hodgepodge.changeSize('a0')]" [image]="images.biography" [size]="images.hodgepodge.size" color="primary" [orientation]="images.hodgepodge.orientation" [lines]="['name: Berón Gamboa Gavilanes', 'birth: June 01, 1998 - Quito, Ecuador']" ></app-gallery-column-card-img>

<app-gallery-column [imagesUp]="[images.christian.changeSize('a3')]" [imagesDown]="[images.osho.changeSize('a3')]"></app-gallery-column>


<app-gallery-article  size="a0" orientation="horizontal" padding="md" color="light" title="Reflexión" [lines]="['Puede convivir el miedo y la adoración...',
'Miedo a los insectos, los animales, la “mala hierba”..., pero respeto hacia su vida... buscar su bienestar...',
'No se los ha visto en otros planetas, trabajan por el ecosistema..., y son tristemente masacrados sin piedad, por seres “inteligentes”...']"></app-gallery-article>

<app-gallery-image [image]="images.mage.changeSize('a0')"></app-gallery-image>

<app-gallery-image [image]="images.role.changeSize('a0')"></app-gallery-image>

<app-gallery-column [imagesUp]="[images.pact.changeSize('a1')]" [imagesDown]="[images.deity.changeSize('a1')]" ></app-gallery-column>

<app-gallery-column [imagesUp]="[images.condor.changeSize('a4')]" [imagesDown]="[images.turkey.changeSize('a4')]"></app-gallery-column>

<!-- <app-gallery-column-img-template [image]="images.raulitos.changeSize('a0')" [size]="images.raulitos.size" color="dark" [orientation]="images.raulitos.orientation">
</app-gallery-column-img-template> -->

<app-gallery-image [image]="images.raulitos.changeSize('a0')"></app-gallery-image>

<div>
    <app-panel-colored color="dark">
        <app-standard-size size="a4">
            <app-column-or-row>
                <iframe first  src="https://www.youtube.com/embed/2RaoCBNHmfw?si=sakvHTiyz_cOhVE7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe second  src="https://www.youtube.com/embed/FU_yNE2MMOU?si=sdrStD9AGqJPz2Qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </app-column-or-row>
        </app-standard-size>
    </app-panel-colored>
</div>

<app-gallery-image [image]="images.jungle.changeSize('a1')"></app-gallery-image>

<app-gallery-article  size="a0" orientation="horizontal"padding="md" color="success" title="Vision" [lines]='["I like to think in small details like tiny little beings full of live, civilizations which are hard to see in comparison to our own size, like watching with a microscope to reveal the microcosms!",
"I want to get better with the small and big shapes in my drawings!"]'></app-gallery-article>



