:host {
    display: flex;
    flex-direction: column;
}
:host.up-img {
    flex-direction: column-reverse;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
h1 {
    margin: 0;
    text-align: center;
}